.titulo {
  padding-top: 8rem;
  width: 80%;
  margin: auto;
}
.portada {
  min-height: 100vh;
  color: azure;
  background: #1f28a3;
}

ul {
  font-size: 1.1rem;
}
.info {
  width: 80%;
  margin: auto;
}
