* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // font-family: "Montserrat", sans-serif;
  // font-size: 62.5%; // 1rem = 10px
}
.navbar {
  // background: rgba(41, 128, 185, 1);
}

h1 {
  // font-weight: 800;
  font-size: 3rem;
}
h6 {
  font-weight: 400;
}
p {
  font-size: 1rem;
}
ul {
  font-size: 1.1rem;
}

// .titulo-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
.titulo {
  padding-top: 6rem;
}

.img-portada {
  max-height: 500px;
}
.portada {
  padding-top: 12rem;
  min-height: 71vh;
  color: black;
  background: white;
}
.bienvenidoPortada {
  color: white;
  // background-color: blue;
  border-radius: 50% 20% / 10% 40%;
  padding: 10px 30px;
}

#fondo-portada {
  height: 30vh;
  background: url("../styles/img/JAMONES\ CENTRO.jpg") center/cover;
  // background-size: cover;
  background-position: botton;
  background-attachment: fixed;
  opacity: 1;
  color: black;
  padding-top: 50px;
}
//////////////////////////////////////////////////////////////PRODUCTOS
.productos {
  min-height: 100vh;
  background: white;
}

.box1 {
  // background: rgb(119, 119, 161);
}
.box2 {
  background: rgba(223, 212, 212, 0.719);
}
.box1 img {
  max-height: 100px;
  // width: auto;
  padding-top: 3%;
}
// .box1 img:hover {
//   border: 1px solid blue;
// }

.bienvenido {
  min-height: 100vh;
  background: white;
}
.servicios {
  min-height: 100vh;
  background: white;
}
.contactos {
  min-height: 100vh;
  background: white;
}
.contactos a {
  color: black;
  text-decoration: none;
}
