* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  // font-family: "Montserrat", sans-serif;
  // font-size: 62.5%; // 1rem = 10px
}
.navbar {
  // background: rgba(41, 128, 185, 1);
}

h1 {
  // font-weight: 800;
  font-size: 3rem;
}
h6 {
  font-weight: 400;
}
p {
  font-size: 1rem;
}
ul {
  font-size: 1.1rem;
}

// .titulo-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
.titulo {
  padding-top: 6rem;
}

.portada {
  padding-top: 6rem;
  // min-height: 71vh;
  // color: black;
}
.bienvenidoPortada {
  color: white;
  // background-color: blue;
  // border-radius: 50% 20% / 10% 40%;
  padding: 10px 30px;
  // transform: rotate(3deg);
}
// .hrdiv {
//   border-bottom: solid 5px rgb(55, 17, 223);
//   transform: rotate(3deg);
// }

#fondo-portada {
  height: 75vh;
  background: url("../styles/img/portadaprueba.jpg") center/cover;
  background-size: cover;
  // background-position: botton;
  background-attachment: fixed;
  opacity: 1;
  color: black;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  #fondo-portada {
    // height: 100vh;
    height: 720px;
    background: url("../styles/img/portadaprueba.jpg") center/cover;
    background-size: cover;
    // background-position: botton;
    background-attachment: fixed;
    opacity: 1;
    color: black;
    padding-top: 50px;
  }
  .portada {
    padding-top: 1.5rem;
  }
  .bienvenidoPortada {
    padding: 15px 0px;
    text-align: center;
  }
  .titulo-container {
    text-align: center;
  }
  .titulo {
    padding-top: 3.2rem;
  }
}
.titulo-text {
  background-color: rgba(3, 6, 26, 0.664);
  color: white;
}

//////////////////////////////////////////////////////////////PRODUCTOS
.productos {
  // min-height: 100vh;
  background: white;
}

.box1 {
  // background: rgb(119, 119, 161);
}
.box2 {
  background: rgba(223, 212, 212, 0.719);
}
.box1 img {
  max-height: 65px;
  // width: auto;
  padding-top: 3%;
}
// .box1 img:hover {
//   border: 1px solid blue;
// }

.oportunidades {
  min-height: 100vh;
  background: white;
}
.servicios {
  min-height: 100vh;
  background: white;
}
.contactos {
  min-height: 100vh;
  background: white;
}
.contactos a {
  color: black;
  text-decoration: none;
}
.card button {
  color: black;
  text-decoration: none;
}

.back {
  background: linear-gradient(
    225deg,
    rgb(16, 162, 224) 32%,
    rgb(84, 29, 199) 100%
  );
}
.img3 {
  // max-height: 300px;
}

.h-line {
  line-height: 2rem;
}

ul.check {
  list-style: none;
}
b {
  font-size: 200%;
}
.shake img {
  max-height: 200px;
}
